
<div class="my-wrapper">



<table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">Stock Name</th>
      
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of samplePayload">
          <th>
            {{t}}
          </th>
        </tr>

    </tbody>
  </table>


  <table class="table table-bordered ">
      <thead>
        <tr>
          <th scope="col">Win Rate</th>
        
        </tr>
      </thead>
      <tbody>
  
          <tr *ngFor="let t of winRate">
            <th>
              {{t}}
            </th>
          </tr>
  
      </tbody>
    </table>


  </div>