<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Symbol</th>
        <!-- <th scope="col">Category</th> -->
        <th scope="col">Week</th>
        <th scope="col">Month</th>
        <th scope="col">3 months</th>
        <th scope="col">6 months</th>
        <th scope="col">Year</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of visible_data; let i = index">
        <th> {{i+1}} </th>
        <td> {{d.name}} </td>
        <td> {{d.symbol}} </td>
        <!-- <td>  </td> -->
        <td> {{d.week}} </td>
        <td> {{d.month}} </td>
        <td> {{d.quater}} </td>
        <td> {{d.half_year}} </td>
        <td> {{d.year}} </td>

      </tr>
    
   
    </tbody>
  </table>